.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ff00cc, #3333ff);
    transition: background 0.5s ease; /* Smooth background color transition */
  }
  
  .card {
    position: relative;
    width: 60%;
    max-width: 200px;
    height: 15%;
    max-height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    animation: shake 0.5s infinite alternate; /* Shake animation */
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 300px;
    background-image:linear-gradient(to right, red , blue);
    color: white;
    padding: 20px;
    border-radius: 10px;
    animation: fadeIn 1s ease; /* Fade-in animation */
  }
  
  .message-text {
    font-size: 24px;
  }
  
  @keyframes shake {
    0% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(2px);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @media (max-width: 600px) {
    .card {
      width: 80%;
    }
  
    .message {
      width: 90%;
    }
  }